@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


/* Global */

/* Header + NAV styling */
header{
    height: 60px;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 60px;
}
header a{
    text-decoration: none;
    color: black;
    padding-right: 1em;
}
/*--------------------About-----------------*/
.about{
    max-height: 50vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(107, 106, 106, 0.5);
    overflow: hidden;
}
.aboutInfo{
    display: flex;
    justify-content: center;
}

.aboutInfo div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    max-height: 80%;
    
}
.aboutInfo img{
    height: 30vh;
    opacity: 0.9;
}
.about h2, .about h1{
    margin: 0;
    padding-top: 0.5em;
    text-align: center;
    color: azure;
}
.about span{
    text-decoration: underline;
    color: rgb(3, 86, 92);
}
.about p{
    text-align: justify;
    color:whitesmoke;
    
}
/* Benefits */
.benefits{
    display: flex;
    flex-direction: column;
    background-color: rgba(219, 161, 161, 0.5);
    padding: 10px;
}

.listsImg{
    display: none;
}
.listsImg img{
    width: 100%;
}

.benefitsFlexColumns{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
}
.benefits h2{
    text-align: center;
}
.lists{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* --------Main--------*/

.catIntro{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.catIntro img{
    width: 100%;
}
main p{
    text-align: justify;
}

/* Footer styling */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 1em;
    background-color: lightgray;
}

.footerIcons{
    display: flex;
}
.footerIcons i{
    margin-right: 1em;
    font-size: 1.5em;
    color: black;
}
.aboutWideScreen{
    display: none;
}

@media (min-width: 1000px){
    .lists div{
        width: 30%;
    }
    .listsImg{
        width: 100%;
        display: block;
        border: 1px solid black;
    }
    .lists{
        justify-content: space-between;
    }
    .CatIntroWidescreen{
        width: 50%;
    }
    #Content{
        display: flex;
    }
    header{
        justify-content: space-between;
    }
    .aboutWideScreen{
        display: block;
    }
    .aboutInfo{
        justify-content: space-between;
    }
}